!!! 5
%html
  %head
    %title ddh0313
    %meta(charset='utf-8')
    %link(rel='stylesheet' href='/stylesheets/twitter-bootstrap.css')
    %link(rel='stylesheet' href='/stylesheets/custom.css')
    %link(rel='shortcut icon' href='/images/icon-16x16.png' type='image/png')
    %script(type='text/javascript' src='/javascripts/jquery.js')
    %script(type='text/javascript' src='/javascripts/bootstrap-twipsy.js')
    %script(type='text/javascript' src='/javascripts/bootstrap-popover.js')
    %script(type='text/javascript' src='/javascripts/bootstrap-dropdown.js')
    %script(type='text/javascript' src='/javascripts/app.js')
  %body(class='#{signed_in? ? "signed-in" : "not-signed-in"}')
    .topbar(data-dropdown='enabled')
      .topbar-inner
        .container
          %h1
            %a.brand(href='#home') ddh0313
          %ul.nav
            %li.active
              %a(href='#home') Home
          %ul.nav.secondary-nav
            %li.for-not-signed-in-users#the-sign-in-menu(title='Welcome!' data-content='ddh0313 is an Web-based Twitter client.  Please sign in with your Twitter account to use ddh0313.')
              %a(href='/sign_in') Sign in
            %li.for-signed-in-users.dropdown
              %a.dropdown-toggle(href='http://twitter.com/kana1') kana1
              %ul.dropdown-menu
                %li
                  %a(href='#settings') Settings
                %li
                  %a(href='/sign_out') Sign out

    #body
      .container
        .row#console
          .span16
            %form#tweet-form(action='__dummy__')
              .row
                .span8
                  %label(for='status') What's happening?
              .row
                .span8
                  %input.span8#status(name='status' type='text' value='' title='Sending...')
              .row
                .span8
                  %span.pull-right
                    %span#character-count 140
                    %input.btn.primary(type='submit' value='Tweet')
        .row#columns
          .span16
            .row
              .span8
                %h2 Main
                .tweets
                  -# Tweet {{{
                  .row
                    .span8
                      .tweet.mine
                        %a.screen_name(href='http://twitter.com/kana1') kana1
                        %span.text
                          Git Undo 999 - How do I undo this operation?
                          \--
                          %a.hashtag(href='http://twitter.com/search?q=%23git') #git
                          \-
                          %a.url(href='http://whileimautomaton.net/2011/10/26220809') http://whileimautomaton.net/2011/10/26220809
                          via
                          %a.screen_name(href='http://twitter.com/kana1') @kana1
                        %a.posted_at(href='http://twitter.com/kana1/status/131430226562514944') 2011-11-02 07:42:41
                  -# }}}
                  -# Tweet {{{
                  .row
                    .span8
                      .tweet.mine
                        %a.screen_name(href='http://twitter.com/kana1') kana1
                        %span.text
                          Git Undo 999 - How do I undo this operation?
                          \--
                          %a.hashtag(href='http://twitter.com/search?q=%23git') #git
                          \-
                          %a.url(href='http://whileimautomaton.net/2011/10/26220809') http://whileimautomaton.net/2011/10/26220809
                          via
                          %a.screen_name(href='http://twitter.com/kana1') @kana1
                        %a.posted_at(href='http://twitter.com/kana1/status/131430226562514944') 2011-11-02 07:42:41
                  -# }}}
                  -# Tweet {{{
                  .row
                    .span8
                      .tweet.mine
                        %a.screen_name(href='http://twitter.com/kana1') kana1
                        %span.text
                          Git Undo 999 - How do I undo this operation?
                          \--
                          %a.hashtag(href='http://twitter.com/search?q=%23git') #git
                          \-
                          %a.url(href='http://whileimautomaton.net/2011/10/26220809') http://whileimautomaton.net/2011/10/26220809
                          via
                          %a.screen_name(href='http://twitter.com/kana1') @kana1
                        %a.posted_at(href='http://twitter.com/kana1/status/131430226562514944') 2011-11-02 07:42:41
                  -# }}}
                  -# Tweet {{{
                  .row
                    .span8
                      .tweet.mine
                        %a.screen_name(href='http://twitter.com/kana1') kana1
                        %span.text
                          Git Undo 999 - How do I undo this operation?
                          \--
                          %a.hashtag(href='http://twitter.com/search?q=%23git') #git
                          \-
                          %a.url(href='http://whileimautomaton.net/2011/10/26220809') http://whileimautomaton.net/2011/10/26220809
                          via
                          %a.screen_name(href='http://twitter.com/kana1') @kana1
                        %a.posted_at(href='http://twitter.com/kana1/status/131430226562514944') 2011-11-02 07:42:41
                  -# }}}
              .span8
                %h2 Mentions
                .tweets
                  -# Tweet {{{
                  .row
                    .span8
                      .tweet.mention
                        %a.screen_name(href='http://twitter.com/kana1') kana1
                        %span.text
                          Git Undo 999 - How do I undo this operation?
                          \--
                          %a.hashtag(href='http://twitter.com/search?q=%23git') #git
                          \-
                          %a.url(href='http://whileimautomaton.net/2011/10/26220809') http://whileimautomaton.net/2011/10/26220809
                          via
                          %a.screen_name(href='http://twitter.com/kana1') @kana1
                        %a.posted_at(href='http://twitter.com/kana1/status/131430226562514944') 2011-11-02 07:42:41
                  -# }}}
                  -# Tweet {{{
                  .row
                    .span8
                      .tweet.mention
                        %a.screen_name(href='http://twitter.com/kana1') kana1
                        %span.text
                          Git Undo 999 - How do I undo this operation?
                          \--
                          %a.hashtag(href='http://twitter.com/search?q=%23git') #git
                          \-
                          %a.url(href='http://whileimautomaton.net/2011/10/26220809') http://whileimautomaton.net/2011/10/26220809
                          via
                          %a.screen_name(href='http://twitter.com/kana1') @kana1
                        %a.posted_at(href='http://twitter.com/kana1/status/131430226562514944') 2011-11-02 07:42:41
                  -# }}}
                  -# Tweet {{{
                  .row
                    .span8
                      .tweet.mention.mine
                        %a.screen_name(href='http://twitter.com/kana1') kana1
                        %span.text
                          Git Undo 999 - How do I undo this operation?
                          \--
                          %a.hashtag(href='http://twitter.com/search?q=%23git') #git
                          \-
                          %a.url(href='http://whileimautomaton.net/2011/10/26220809') http://whileimautomaton.net/2011/10/26220809
                          via
                          %a.screen_name(href='http://twitter.com/kana1') @kana1
                        %a.posted_at(href='http://twitter.com/kana1/status/131430226562514944') 2011-11-02 07:42:41
                  -# }}}
                  -# Tweet {{{
                  .row
                    .span8
                      .tweet.mention
                        %a.screen_name(href='http://twitter.com/kana1') kana1
                        %span.text
                          Git Undo 999 - How do I undo this operation?
                          \--
                          %a.hashtag(href='http://twitter.com/search?q=%23git') #git
                          \-
                          %a.url(href='http://whileimautomaton.net/2011/10/26220809') http://whileimautomaton.net/2011/10/26220809
                          via
                          %a.screen_name(href='http://twitter.com/kana1') @kana1
                        %a.posted_at(href='http://twitter.com/kana1/status/131430226562514944') 2011-11-02 07:42:41
                  -# }}}

    #footer
      .container
        .row
          .span8
            %address
              ddh0313 @@VERSION@@
              &#x2014;
              Copyright &copy; 2011 
              %a(href='http://whileimautomaton.net/') Kana Natsuno
              (
              %a(href='http://twitter.com/kana1')> @kana1
              )
          .span8
            .pull-right
              %a(href='https://github.com/kana/ddh0313')
                Watch changes
              &#x2014;
              %a(href='https://github.com/kana/ddh0313/issues')
                Report issues

-# __END__
-# vim: foldmethod=marker
